My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "59d48f69-6b7d-4675-b88c-ce23cc6c578f",
      "name": "Telegram Trigger",
      "webhookId": "b63375af-baab-4867-b4e5-f169ca955d23",
      "credentials": {
        "telegramApi": {
          "id": "aZOkNLZrPbichNEr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Section 1: Summary\n\nProvide a clear and concise summary in 5–7 professional bullet points.\n\nHighlight:\n\nMain purpose\n\nKey discussion points\n\nImportant dates\n\nAction items\n\nDecisions made\n\nSection 2: Email Draft for Sending Agent\n\nCreate a professional reply email based on the summary.\n\nInclude: subject line, greeting, clear response to action items, confirmation of deadlines (if applicable), and closing.\n\nKeep tone professional and concise.\n\nFormat output clearly so it can be directly passed to an email-sending agent."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "8998f7ee-fc8e-4b22-b36e-1de8beeb8290",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "edd2832a-5528-43f2-b0b6-2639a3f079e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Uoy1qpoQBNM0x4ue",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        352,
        208
      ],
      "id": "df59541f-1728-4884-a045-260d091c16f0",
      "name": "Get many messages in Gmail",
      "webhookId": "9b8b38b7-b408-49e9-b963-eecc352e7bea",
      "credentials": {
        "gmailOAuth2": {
          "id": "HlNgA70r2EIkyER8",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "f26c9408-bfe0-4443-bf90-b5dfc27f4c3f",
      "name": "Send a text message",
      "webhookId": "ee6aa3bd-713a-4e8a-9563-9dba162276b5",
      "credentials": {
        "telegramApi": {
          "id": "aZOkNLZrPbichNEr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        464,
        208
      ],
      "id": "6a00e6e5-acf2-4d26-9ef5-045aac944e72",
      "name": "Send a message in Gmail",
      "webhookId": "a66e86a3-e0c5-4f98-8e6f-a32a65e71e12",
      "credentials": {
        "gmailOAuth2": {
          "id": "J1ie7S8YKWYlwJrN",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d799a98f-d364-4c1a-b450-4391cdba195a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce7a8762b7a90120c99e90f63dd55686925d7bcca1d432f74fe26df300b10300"
  },
  "id": "bVeLfGKijDeLwKic",
  "tags": []
}